/* This whole block is for the register page... */
/* The message box is shown when the user clicks on the password field */
#message {
    display: none;
    position: relative;
    border: 1px solid #ced4da !important;
    padding: 1em 1.4em 0 1.4em !important;
    border-radius: 0.25rem;
    background-color: white;
}

#message p {
    padding: 0 35px;
}

/* Add a green text color and a checkmark when the requirement is fulfilled */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirement is not fulfilled yet */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "❌";
}
/* that ends here!!! */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style all buttons */
.btn {
    padding: 10px;
}

#startGame:hover, #pausePlayBtn:hover, #addTheme:hover, #addWordToTheme:hover:enabled {
    background: #fff;
    border-color: #fff;
    color: #343a40;
}

/* To indent paragraphs of the help text */
.indent {
    text-indent: 5%;
}

/* Style the title of the pages */
h1 {
    border: 1px solid #ced4da;
    border-top: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-bottom: 8px;
}

#helpText {
    border: 1px solid #ced4da;
    padding: 3%;
}

/* To style the arrow back button */
.back {
    position: fixed;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
    font-size: 50px;
}

.back:hover {
    color: #c6cfd7;
}

* {
  box-sizing: border-box;
}

.avatars > input {
  display: none;
}

.avatars > input + img {
  cursor: pointer;
  border: 1px solid #ced4da;
}

.avatars > input:checked + img {
  border: 2px solid red;
}

.avatar {
    width: 154.8px;
    height: 154.8px;
    border-radius: 0.25rem;
}
