/* This whole block is for the register and registerStore pages... */
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    position: relative;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 0 1.4em !important;
}

#message p {
    padding: 0 35px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
/* that ends here!!! */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the buttons of the home page */
#startGame, #myBtn, #addTheme, #addWordToTheme {
    padding: 10px;
}

#startGame:hover, #myBtn:hover, #addTheme:hover, #addWordToTheme:hover {
    background: #fff;
    border-color: #fff;
    color: #343a40;
}

/* To indent paragraphs of the help text */
.indent {
    text-indent: 5%;
}

/* Style the title of the pages */
h1 {
    border: 1px solid lightgrey;
}

#helpText {
    border: 1px solid lightgrey;
    padding: 3%;
}

/* To style the back button */
.back {
    position: fixed;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
    font-size: 50px;
}

.back:hover {
    color: #c6cfd7;
}

* {
  box-sizing: border-box;
}

.avatars > input{
  display: none;
}

.avatars > input + img{
  cursor: pointer;
  border: 2px solid transparent;
}

.avatars > input:checked + img{
  border: 2px solid red;
}

.avatar {
    width: 150px;
    height: 150px;
}
